body {
  --bg: #fbfcfd;
  --textNormal: #333;
  --textTitle: #345;
  --textLink: #0089e0;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
  color: var(--textNormal);

  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

a {
  color: var(--textLink);
}

h1 {
  color: var(--textTitle)
}
